# Exclude RubyMine workspace files
.idea/

# Exclude config file
config.yml

# Exclude legacy folder (contains old Cobalt code on my local machine)
legacy/

# Exclude file used for miscellaneous code testing
testspace.rb

# Exclude database
data/data.db

# Exclude Gemfile.lock
Gemfile.lock

# Exclude Run Mode & Updater Enabled Check Files
src/Main.txt
src/Dev.txt
src/All.txt
src/Updater-Enabled.txt
src/Update_Check_Frequency.txt